/* full body style */
* {
  margin: 0;
  padding: 0;
}
/* header related styles */
/* banner section */
.banner {
  text-align: center;
  margin: 20px 20px;
  background-image: url("../images/banner-image.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: 120px;
}

.banner-container > .banner-greetings {
  padding-top: 120px;
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner-container .banner-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}
/* discount section */
.discount-container {
  text-align: center;
}
.discount-rate {
  color: #f00;
  font-family: Inter;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 25px;
}
.discount-motto {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.discount-categories {
  color: #070211;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 45px;
}
.discount-image {
  width: 700px;
  height: 450px;
}
